
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-outline-primary" (click)="onSelectFile()">
      Button
    </button>
  </div>
  <div class="row">
    <div class="col-12" *ngFor="let item of getData" >
     <div class="row" *ngFor="let val of item" >
       <div class="col-12"><p>{{val}}</p></div>
     </div>
      
    </div>
  </div>
</div>